


.list_label {
 
  color: #e5e5e5;
  margin: 0rem;
  
  font-size: 1rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-left: .1rem;
  padding-bottom: .1rem;
} 


.movie_list {
   
    margin-top: 0rem;
    margin-bottom: 0rem;
   
}

.movie_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: auto;
  height: 11rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
}