
.hero {
  box-sizing: border-box;
  width: 80%;
  max-width: 900px;
  height: 21.9rem;
  max-height: 21.9rem;
  min-height: 21.9rem;
  margin: auto;
  margin-top: 1rem;
  overflow: hidden;
}



@media (max-width: 840px) {
  .hero{
    width: 100%;
  }
}
@media (max-width: 458px) {
  .hero{
    display: none;
  }
}


.hero_title {
  font-family: 'Bebas Neue';
  font-size: 2.5rem;
  padding: 1rem 0rem 0rem 0rem;
  margin-bottom: 0rem;
  line-height: 2.4rem;
  letter-spacing: .05rem;
}

.hero_textbox {
  color: rgb(238, 237, 237);
  float: left;
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  overflow: scroll;
  

}

.hero_overview {
  line-height: 1.1rem;
  color: rgba(184, 184, 184, 0.897);
  font-size: 0.87rem;

}

.hero_wrapper {

  overflow: scroll;
  
}

.hero_image {
  width: 25%;
  margin: 1rem;
  max-width: 193px;
  min-width: 165px;
  
  -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
  border: 2px solid black;
 
}

@media (max-width: 550px) {
  .hero_image{
    display: none;
  }
  .hero_textbox{
    width: 75%;
  }
}



.hero_image_container {
  text-align: center;
  padding: 1rem;
  
 
}

.hero_release {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  padding: .5rem 0rem;
}

.hero_rating {
  display: inline;
  font-size: 0.8rem;
  font-weight: bold;
  padding: .5rem .7rem;
}

.red {
  text-transform: uppercase;
  color: rgb(229 9 20);
}