.movie_card {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 250px;
  
}

.title {
  color: white;
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 5;
  font-weight: 500;
  font-family: 'Bebas Neue';
  letter-spacing: .05rem;
  font-size: 1.13rem;
  text-shadow: 2px 2px 3px rgba(2,1,1,0.91);
  cursor: default;
}

.poster {
  width: 95%;
  position: relative;
  margin: auto;
  padding: 0;

  border: 2px solid transparent;
}

.poster:hover {
  -webkit-box-shadow: 6px 6px 11px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 11px -2px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 11px -2px rgba(0,0,0,0.75);
  transform: scale(1.13);
  transition-duration: .3s;
  z-index: 5;
  border: 2px solid black;

}


.add {
  position: absolute;
  bottom: 8px;
  right: 15px;
  z-index: 5;
  
}


.minus {

  color: white;
  position: absolute;
  bottom: -84px;
  left: 210px;
  z-index: 5;
}